<h2>My Heroes</h2>
<ul class="heroes">
  @for(hero of heroes; track hero.id){
    <li>
      <!-- Class binding can add and remove a CSS class conditionally: -->
      <!-- [class.some-css-class]="some-condition" -->
      <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{ hero.id }}</span>
        <span class="name">{{ hero.name }}</span>
      </button>
    </li>
  } @empty {
    <span>Got nothing for you brah!</span>
  }

<!--  Old way of doing loop -->
<!--  <li *ngFor="let hero of heroes">-->
<!--    <button type="button" (click)="onSelect(hero)">-->
<!--      <span class="badge">{{ hero.id }}</span>-->
<!--      <span class="name">{{ hero.name }}</span>-->
<!--    </button>-->
<!--  </li>-->
</ul>

<!-- Property Binding: Bind 'selectedHero' to child component's 'hero' property -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
